/*galeria*/

/* titulo*/
.galeria{
    font-size: 80px;
    color:rgb(134, 120, 36)
}

/* posicion de las fotos*/

#fotos{
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: space-between;
    
}


/* tamaño de las fotos*/
.imagenes{
    width:500px;
    height: 400px;
}
/* posicion de los videos*/
.video {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px;
    margin-top: 50px;
}
/* posicion de la descripcion de los videos*/
.video-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}
/* tamaño del frame*/
iframe {
    max-width: 100%;
}

/* lugar del caption*/
.caption {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}


/* posicion de las 3 secciones de fotos*/
#secciones{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    margin-top: 50px;
    
}
/* posicion de las fotos*/
.players{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px
}
/* estilo de las fotos*/
.perfil{
    width: 300px; 
    height: 300px;
    object-fit: cover;
    border-radius: 8px; 
}
/* Estilo de la descripcion de las fotos*/
.datos{
    list-style: none; 
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 14px; 
    display: flex;
    flex-direction: column;
}
/* posisicion entre datos y listas*/
.datos li {
    margin-bottom: 30px; 
}

/*pagina responsive*/

@media (max-width:480px){
    .galeria{
    
       text-align: center;
    }
    #fotos{
       flex-direction: column;
    }
    .imagenes{
       width: 100%;
       height: auto;
    }
   .video{
       flex-direction: column;
   }
   iframe{
       width: 100%;
       height: 300px;
   }
   }