* {
  margin: 0;
  padding: 0;
}

/*variables*/


@mixin anclas{
  color: white;
  font-size: 30px;
}

$colorTitulo: rgb(134, 120, 36);
$colorheader:rgb(135, 215, 235);


/*contenido del header*/

header {
  display: flex;
  min-height: 100px;
  background-color: $colorheader;
  align-items: center;
  width: 100%;
}

.barra {
  display: flex;
  align-items: center;
}
.escudo {
  height: 50px;
}

.tituloPrincipal {
  color: $colorTitulo;
}

/* contenido del nav*/

.nav-link {
 @include anclas
}

/* imagen de fondo y tipo de letra*/
body {
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

/* contenido del main*/

.fotoSeleccion {
  height: 60%;
  width: 50%;
  border-radius: 8px;
}
#descripcion {
  color: $colorTitulo;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 35px;
}
.mainPage {
  flex-direction: row;
  display: flex;
  position: relative;
  top: 20px;
}
.bienvenida {
  font-size: 50px;
  color: $colorTitulo;
}

/* footer*/

footer {
  min-height: 200px;
  background-color: $colorheader;
  margin-top: 30px;
}

.leyenda {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  position: relative;
  top: 50px;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
  bottom: 50px;
  right: 30px;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 100px;
}



/*version para tablet*/
/*desde 768px hasta 1023px*/
@media (max-width:1023px){

  /*header*/
   header{
    justify-content: center;
    width: auto;
   }

   .barra{
    flex-direction: column;
    
   }
   
   button{
    width: 100%;
    position: sticky
   }

   .custom-navbar {
    position: sticky;
    top: 0; 
    z-index: 1000; 
    box-shadow:rgba(0, 0, 0, 0.39); 
    background-color: $colorheader ;
  }

   #descripcion{
    font-size: 1.5rem;
   }

   .bienvenida{
    font-size: 3rem;
   }
   .fotoSeleccion{
    height: auto;
   }
   
   
}


@media (max-width:768px){

  .mainPage{
    flex-direction: column;
  }
  .fotoSeleccion{
    width: 100%;
    
  }

  .bienvenida{
    font-size: 2rem;
  }
  #descripcion{
    font-size: 1rem;
    margin-top: 20px;
  }
  
  .contenedorFooter{
    flex-direction: column;
    justify-content: space-between;
  }

.leyenda{
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconos {
  justify-content: center;
  gap: 10px;
  position: static;
}
.contenedorFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.leyenda {
  position: static;
}

}