* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

/*variables*/


@mixin anclas{
  color: white;
  font-size: 20px;
}

$colorTitulo: rgb(134, 120, 36);
$colorheader:rgb(173, 216, 230);
$colorHover: blue;


/*contenido del header*/



header {
  display: flex;
  min-height: 100px;
  background-color: $colorheader;
  width: 100%;
  justify-content: space-between;
}


.barra {
  display: flex;
  align-items: center;
}
.escudo {
  height: 50px;
}

#tituloPrincipal {
  color: $colorTitulo;
}

/* contenido del nav*/

.nav-link {
 @include anclas;
}


.navbar-nav {
  display: flex;
  flex-direction: row;
  
}





/* imagen de fondo y tipo de letra*/
body {
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

/* contenido del main*/

.fotoSeleccion {
  width: 40%;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}
#descripcion {
  color: $colorTitulo;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 35px;
  gap:10px
}
.mainPage {
  flex-direction: row;
  display: flex;

}
.bienvenida {
  font-size: 40px;
  color: $colorTitulo;
}

.paginaCentral{
  height: 500px;
  margin-top: 150px;
}
/* footer*/

footer {
  min-height: 300px;
  background-color: $colorheader;
  margin-top: 30px;
}

.leyenda {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  position: relative;
  top: 50px;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
  bottom: 50px;
  right: 40px;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 100px;
}



/*version para tablet*/
/*desde 768px hasta 1023px*/
@media (max-width:1023px){

  /*header*/
   header{
    justify-content: center;
    width: auto;
   }

   .barra{
    flex-direction: column;
    
   }
 
   header{
    justify-content: space-between;
  }

  .paginaCentral{
   margin-top: 150px;

  }

   #descripcion{
    font-size: 25px;
   }

   .bienvenida{
    font-size: 30px;
   }
   .fotoSeleccion{
    height: auto;
   }
   
   
}




@media (max-width:768px){

/*personalizacion del boron*/

  .custom-navbar .navbar-nav {
    display: flex !important;
    flex-direction: column !important; 
    align-items: center !important; 
  }

  .nav-item {
    margin-bottom: 10px;
  }

  header{
    justify-content: space-between;
  }

  button{
    width: 100%;
    position: sticky
   }

  .paginaCentral{
         margin-bottom: 100px;
         margin-top: 100px;
   }
  .mainPage{
    flex-direction: column;
    text-align: center;

  }
  .fotoSeleccion{
    width: 90%;
    margin-left: 20px;
    
  }

  .bienvenida{
    font-size: 2rem;
  }
  #descripcion{
    font-size: 1rem;
    margin-top: 20px;
  }
  
  .contenedorFooter{
    flex-direction: column;
    justify-content: space-between;
  }

.leyenda{
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
}

.iconos {
  justify-content: center;
  gap: 10px;
  position: static;
}
.contenedorFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.leyenda {
  position: static;
}

}