/*partidos*/

/* titulos*/
.partidos{
  font-size: 80px;
  color:$colorTitulo;
  text-align: center;
}

.partidoTitulo{
  font-size: 40px;
  color:$colorTitulo;
  text-decoration: underline;
  margin-bottom: 20px;  
  text-align: center;
  
}

/*estilo del titulo*/

.tituloGrupo{
  color:$colorTitulo;
  font-size: 30px
}


/* grid de los grupos*/
.headGroup{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  width: 100px;
  text-align: center;
 

}
.grupo{
  font-weight: bold;
  padding: 20px;
  border-radius: 4px;
}



/* estilo del contenido de las celdas*/
.celda{
  padding: 10px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  gap: 5px; 
  border-radius: 4px;
  font-weight: bold
}

.celda img {
  width: 30px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}

/*posicion de los grupos*/


.contenedor{
  display: flex;
  flex-direction: row;
  position: relative;
  left:30px
}


/* estilo de los titulos*/
.titulos_espaciados{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  position: relative;
  
}


/* grid de los partidos*/
.cabeza{
  display: grid;
  grid-template-columns: 50px 50px 300px 100px;
  border:1px solid black;
  text-align: center;

}
/* estilo de las celdas*/
.columna-1{
  border: 1px solid black;
  display: grid;
  font-weight: bold;
  text-align: center;
}
.agrupacion{
  border: 1px solid black;
  display: grid;
}
.contenedor2{
  display: flex;
  justify-content: space-evenly;
}

/**titulo fase final*/
#fasefinal{
  margin-top: 50px;
}
/**seccion de los cuadros de eliminatorias*/
.cuadroFinal{
display: flex;
justify-content: space-evenly;
position: relative;
right: 125px;
margin-top: 50px;
}

.fases{
  color:$colorTitulo;
  text-decoration: underline;
  font-size: 30px;
}
/**seccion de los cuadros finales*/

.cuadrosFinales{
  display: grid;
  grid-template-columns: 150px 30px;
  border: 1px solid black;
}

.cuartos, .Semifinal, .final{
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-right:none ;
  max-width: 200px ;
  margin-top: 15px;
}


.Semifinal{
  display: flex;
  position: relative;
  left: 60px;
  margin-top: 15px;
}

.final{
  display: flex;
  position: relative;
  top:70px
}

.todosCuadros{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  right: 90px;
}


/* Estilos para dispositivos móviles */
@media (max-width: 1023px) {
  .partidos{
    text-align: center;
    font-size: 50px;
  }
  .partidoTitulo{
      text-align: center;
      font-size: 40px;
  }
  .posicionTitulo{
      font-size: 30px;
  }

  .tituloGrupo{
    text-align: center;
  }
  .contenedor{
     align-items: center;
     justify-content: center;
     flex-direction: column;
  }
  
}