/*para hacer las colunas de los cuadros*/
.cabecera {
  display: grid;
  grid-template-columns: 200px repeat(6, 80px);
  text-align: center;
}
/*el borde de los cuadros*/

/*distancia de la bandera con el nombre del equipo*/
.bandera {
  margin-right: 10px;
}

.border {
  border: 1px solid black !important;
}

/*remarca los ganadores de cada grupo*/

#winner {
  background-color: gold;
}
/*distancia de la bandera con el nombre del equipo de la parte derecha en la seccion de partidos*/
.banderaDerecha {
  margin-left: 10px;
}
/*acomodar los grupos 1 y dos entre si */
.grupoContenedor {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
/*para darle estilo al titulo de los grupos*/

.numeroGrupos {
  text-align: center;
}

/*para armar el grupo de los partidos*/

.estiloPartidos {
  display: grid;
  grid-template-columns: 80px 80px 350px 150px;
  text-align: center;
}

/*estilo de los textos*/

.partidoTitulo {
  margin-top: 30px;
  color: $colorTitulo;
  font-size: 40px;
  text-decoration: underline;
}

/*estilo del titulo PARTIDOS*/

.partidos {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  color: $colorTitulo;
  text-decoration: underline;
  
}

.partidos:hover{
  color:$colorHover;
}

/*para hacer las columnas de los cuadros de Fase Final*/

.fases {
  display: grid;
  grid-template-columns: 150px 50px;
  margin-top: 20px;
  text-align: center;
}
/*para acomdar los cuadros*/
.faseFinal {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
/*para acomodar el tercer puesto*/
.tercerPuesto{
  display: flex;
  justify-content: center;
}
#tituloTercero{
  text-align: center;
}
/*pagina responsive*/
@media (max-width:1023px){
  .cabecera{
    grid-template-columns: 100px repeat(6, 40px);
  }
  .estiloPartidos{
    grid-template-columns: 50px 50px 200px 75px;
  }
}

@media (max-width:768px){
  .grupoContenedor{
    flex-direction: column;
    align-items: center;
  }
  .cabecera{
    grid-template-columns: 100px repeat(6, 30px);
    font-size: 15px;
  }
  .estiloPartidos{
    grid-template-columns: 30px 30px 200px 50px;
    font-size: 10px;
  }
  .faseFinal{
    gap:10px;
    text-align: center;
  }

  .partidoTitulo{
    font-size: 20px;
    text-align: center;
  }
  .fases{
    grid-template-columns: 80px 20px;
    font-size: 10px;
  }
  .tercerPuesto{
    display: flex;
    justify-content: center;
  }
}